body {
  font-family: 'Gill Sans';
  margin: 0;
  padding: 0;
}

input, textarea{
  background-color: rgb(119, 136, 176);
  font-size: 25px;
  height: 50px;
  width: 250px;
  border-radius: 15px;
  border: 2px solid rgb(255, 255, 255);
  padding: 15px;
  color: rgb(22, 22, 100);
  font-family: 'Gill Sans';
}

::placeholder {
  color: rgba(22, 22, 100, 0.5)
}

.container {
  background-color: rgb(22, 22, 100);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 10px;
}

button {
  width: 200px;
  height: 50px;
  border-radius: 12px;
  font-size: 20px;
  border: 2px solid rgb(22, 22, 100);
  color: rgba(22, 22, 100, 0.9);
  font-family: 'Gill Sans';
}
button:hover {
  border: 2px solid rgb(119, 136, 176);
}
button:active {
  border: none;
  box-shadow: 0 0 10px rgb(119, 136, 176);
}

.head {
  font-size: 200px;
}

.error {
  color: rgb(255, 0, 0);
  text-shadow: 0 0 5px rgb(82, 34, 34);
}

.text{
  color: white;
  /* padding-top: 20px; */
}
.text:hover{
  text-decoration: underline;
}


.factPageContainer {
  background-color: rgb(225, 221, 221);
  height: 100vh;
  /* width: 100vw; */
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 30px;
}

.navbutton {
  border: 2.5px solid rgb(22, 22, 100);
  border-radius: 20px;
  height: 40px;
  width: 200px;
  font-size: 30px;
  text-align: center;
  background-color: white;
  color: rgb(22, 22, 100);
}
#modalbutton{
  height: 45px;
}

.navbutton:hover {
  background-color: rgb(225, 225, 237);
  border: 2.5px solid rgb(22, 22, 100);
}
.navbutton:active {
  box-shadow: 0 0 10px rgb(119, 136, 176);
}

.bluecontainer {
  display: flex;
}

.facts {
  background-color: rgb(22, 22, 100);
  color: white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  box-sizing: border-box;
}

.fact {
  background-color: rgb(255, 255, 255);
  /* border: 5px solid rgb(57, 49, 99); */
  border-radius: 15px;
  color: rgb(22, 22, 100);
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 85%;
}

.factUserName {
  font-size: 21px;

}

.factDate {
  padding-top: 13px;
  color: rgb(22, 22, 100, 0.6);
}

.factTitle {
  font-size: 30px;
}

.factFact {
  font-size: 18px;
}

.likesDislikes {
  width: 80px;
  /* background-color: white;
  color: black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5vh;
}

.likes {
  display: flex;
  gap: 8px;
  font-size: 15px;
}
.profilepage{
  width: 100%;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  color: rgb(22, 22, 100);
}

.userPage{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.modalcontainer{
  background-color: #ffffff;
  width: 80vw;
  height: 80vh;
  margin: 10vh auto auto auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  box-sizing: border-box;
  padding: 100px 100px 80px 100px ;
  gap: 25px;
  border-radius: 20px;
}

.titleinput{
  width: 70vw;
  height: 40px;
  font-size: 35px;
}
.textinput{
  width: 70vw;
  height: 100vh;
  display: flex;
  align-items: start;
  justify-content: start;
}

.editdelete{
  /* display: flex; */
  width: 100px;
  height: 35px;
  padding-right: 15px;
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  /* color: #ffffff; */
  /* border: 2px solid #ffffff; */
  border: none;
  border-radius: 12px;
}
.editdelete:hover{
  background-color: #ffffffd7;
  border: #ffffff;
}